<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8Eg-LF9MJpxLMyAOohBpsq_Aiyr7z_vs</string>
	<key>GCM_SENDER_ID</key>
	<string>500342287412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.equation</string>
	<key>PROJECT_ID</key>
	<string>equation-84008</string>
	<key>STORAGE_BUCKET</key>
	<string>equation-84008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500342287412:ios:be3ba5a8c29542c3f7ae61</string>
</dict>
</plist>